<div class="container">
    <div class="col-6 mx-auto shadow">
        <h4 class="text-center text-primary">Sign In page</h4>
        <input type="text" placeholder="Email" [(ngModel)]="email" class="form-control my-2">
        <input type="text" placeholder="Password" [(ngModel)]="password" class="form-control my-2">
       
        <div class="text-center text-danger my-2">{{message}}</div>
        <button class="btn btn-primary m-2" (click)="signin()">Signin Page</button>
    </div>

    </div>


