<nav class="nav" style="background-color: green;">
    <a routerLink="/signup" class="nav-link text-white" style="cursor: pointer;">Update</a>
    <a routerLink="/testsignup" class="nav-link text-white"  style="cursor: pointer;">Sign up page|</a>
    <a routerLink="/testsignin" class="nav-link text-white"  style="cursor: pointer;">Signin Page|</a>
    <a routerLink="/testsignup" class="nav-link text-white"  style="cursor: pointer;">Student Sign up|</a>
    <a routerLink="/mychat_dashboard" class="nav-link text-white"  style="cursor: pointer;">Mychat_App Dashboard|</a>
    <a routerLink="/mychat_dashboard/view_contacts" class="nav-link text-white"  style="cursor: pointer;">View Contacts|</a>
    <a routerLink="/behavior_subject" class="nav-link text-white"  style="cursor: pointer;">Student Portal|</a>
    
    
    </nav>
<div class="container">
  <div class="mx-auto col-6 my-5 p-2">
    <h3 class="text-success">Crownwealth University Student Portal</h3>
  </div>
    <div class="row">
        <div class="col-5">
           <app-behaviorchild1></app-behaviorchild1> 
        </div>
        <div class="col-7">
            <app-behaviorchild2></app-behaviorchild2>
        </div>

    </div>

</div>
