
<div class="container">
  <table class="table table-primary table-borderless">
    <thead>
 <tr>
  <th>ID</th>
  <th>Name</th>
  <th>City</th>
  <th>Status</th>
 </tr>
    </thead>
    <tbody>
      <tr>
<td>{{this.behaviorobj.id}}</td>
<td>{{this.behaviorobj.name}}</td>
<td>{{this.behaviorobj.city}}</td>
<td>{{this.behaviorobj.status}}</td>
</tr>
    </tbody>
  </table>
  <div class="shadow mx-auto col-8 p-2">
     <p>{{this.behaviorobj.id}}</p>
     <p>{{this.behaviorobj.name}}</p>
     <p>{{this.behaviorobj.city}}</p>
     <p>{{this.behaviorobj.status}}</p>
    
  </div>

</div>

<div class="col-6 mx-auto">
  <input type="text" placeholder="Firstname" class="form-control my-2" [(ngModel)]="firstname">
  <input type="text" placeholder="lastname" class="form-control my-2" [(ngModel)]="lastname">
  <input type="text" placeholder="email" class="form-control my-2" [(ngModel)]="email">
  <input type="text" placeholder="password" class="form-control my-2" [(ngModel)]="password">
  <button class="btn btn-danger"  (click)="signup()">Sign up </button>
</div>