
<!-- <div class="row">
    <div class="col-6" *ngFor="let item of errorpagearray" (click)="senditem(item)">
<div class="shadow mx-auto col-8">
    <div>{{item.firstname}}</div>
</div>
    </div>
    <div class="col-6">
<app-templatedrivenform></app-templatedrivenform>
    </div>

</div> -->
<div class="container">
    <div class="text-center">
        <h1 class="text-success my-5">HoneyCrown University Student Portal </h1>
    </div>
    <div class="row">

        <div class="col-4 bg-success text-white">
    <div class="shadow p-2 my-2" *ngFor="let user of budgetusers" (click)="senduser(user)" style="cursor: pointer;">
       
  <h5>{{user.firstname}} {{user.lastname}}</h5>
   <hr>
    </div>
        </div>
        <div class="col-8  text-dark" >
            <app-templatedrivenform></app-templatedrivenform>
        </div>
    </div>

</div>
